<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WillaZilla - Self-Care Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1 class="logo">WillaZilla</h1>
        <div class="avatar"></div>
    </header>

    <main class="main-content">
        <section class="welcome-message">
            <p>Welcome to WillaZilla, your all-in-one platform for self-care and well-being. Our mission is to empower individuals to take charge of their mental and physical health by providing accessible, intuitive, and effective self-care tools.</p>
        </section>

        <section class="features">
            <div class="feature-card" id="pomodoro">
                <div class="feature-icon">
                    <img src="{{ url_for('static', filename='stopwatch.png') }}" alt="">
                </div>
                <a href="{{ url_for('pomodoro') }}"><h3>Pomodoro</h3></a>
            </div>

            <div class="feature-card" id="pomodoro">
                <div class="feature-icon">
                    <img src="{{ url_for('static', filename='dish.png') }}" alt="">
                </div>
                <a href="{{ url_for('remeals') }}"><h3>Meals</h3></a>
            </div>

            <div class="feature-card" id="pomodoro">
                <div class="feature-icon">
                    <img src="{{ url_for('static', filename='arm-muscle.png') }}" alt="">
                </div>
                <a href="{{ url_for('fitness') }}"><h3>Fitness</h3></a>
            </div>

            <div class="feature-card" id="pomodoro">
                <div class="feature-icon">
                    <img src="{{ url_for('static', filename='journal.png') }}" alt="">
                </div>
                <a href="{{ url_for('journal') }}"><h3>Journals</h3></a>
            </div>
        </section>

        <section class="content-wrapper">
            <div class="motivation">
                <h2>Be Healthy With Us! Use WillaZilla to grow yourself.</h2>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>For more information, contact us at our Instagram @WillaZilla</p>
    </footer>

    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>